---
import "../styles/global.css";
import GsapGlitch from "../components/GsapGlitch.astro";
import GsapVariable from "../components/GsapVariable.astro";
import CardForVariable from "../components/CardForVariable.astro";
import GsapProcessSteps from "../components/GsapProcessSteps.astro";
import SplitScreenPinning from "../components/SplitScreenPinning.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main class="flex min-h-screen flex-col items-center justify-center p-24">
      <h1 class="text-4xl mb-12">GSAP Animations with Astro</h1>
      <!-- <GsapGlitch /> -->
      <!-- <CardForVariable /> -->
      <!-- <GsapProcessSteps /> -->
      <SplitScreenPinning />
    </main>
  </body>
</html>
